# Any graphmonster input/output files
*.pdf
*.svg
*.csv
*.txt
*.pkl
*.png

# Local and personal  edited version of gm_tg file 
gm_tgx.py

# except
!requirements.txt

# Notebooks for dev
*.ipynb
*.ipynb_checkpoints

# My own credentials
my_creds.py

# Cache
__pycache__/
