# Any created graphics
*.pdf
*.svg

# Any data txts
edgelist.tx
commlabels.txt
community-identification.txt

# Notebook for dev
*.ipynb
*.ipynb_checkpoints

# My own credentials
my_credentials.py

# Cache
__pycache__/
