# Any graphmonster input/output files
*.pdf
*.svg
*.csv
*.txt

# Local edited version
gmx.py

# except
!requirements.txt

# Notebooks for dev
*.ipynb
*.ipynb_checkpoints

# My own credentials
my_creds.py

# Cache
__pycache__/
